<footer class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <small>
                <a href="#">Be A Tutor</a> • 
                <a href="#">Get A Tutor</a> • 
                <a href="#">Download Enrollment Forms</a> • 
                <a href="#">Contact PIMOSH Here</a> • 
                <a href="#">Apply for Arts Jobs</a>
            </small>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

