<head>
    <%- include('./partials/header.ejs') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {box-sizing: border-box}
    
            /* Set height of body and the document to 100% */
            body, html 
            {
                height: 100%;
                width: 100%;
                margin: 0;
                font-family: Arial;
                overflow:scroll;
                background-color: #f4e7f1;
            }
    
            /* Style tab links */
            .tablink 
            {
                background-color: #fbf9fb;
                color: #79507A;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 16px;
                font-size: 17px;
                width: 20%;
                height:75px;
            }
    
            .tablink:hover 
            {
                background-color: #777;
                color:#fbf9fb;
            }
    
            /* Style the tab content (and add height:100% for full page content) */
            .tabcontent 
            {
                color: #79507A;
                display: none;
                padding: 100px 20px;
                height: 100%;
                background-color: #f4e7f1;
                letter-spacing: 1.5px;
                line-height: 1.3;
                font-weight: bold;
            }
    
            h3
            {
                text-decoration-line: underline;
            }
    
            /*
            #tabs
            {
                position:fixed;
            }*/
            /*#f4e7f1 #79507A*/
            #AboutUs {height:100%;}
            #Mission {height:100%;}
            #Diversity {height:100%;}
            #Leadership {height:100%;}
            #Community {height:100%;}
        </style>
        </head>
        <body>
        <div id="tabs">
        <button class="tablink" onclick="openPage('AboutUs', this, '#f4e7f1')" id="defaultOpen">About Us</button>
        <button class="tablink" onclick="openPage('Mission', this, '#f4e7f1')" >Our Mission</button>
        <button class="tablink" onclick="openPage('Diversity', this, '#f4e7f1')">Diversity Statement</button>
        <button class="tablink" onclick="openPage('Leadership', this, '#f4e7f1')">Leadership & Staff Development</button>
        <button class="tablink" onclick="openPage('Community', this, '#f4e7f1')">Community Impact</button>
        </div>
    
        <div id="AboutUs" class="tabcontent">
        <h3>About Us</h3>
        <p>PIMOSH is a community organization that provides children and families access to high-quality 
            arts education and technology programs. For 20 years, we have been committed to motivating 
            and inspiring students to reach their full potential through innovative and engaging 
            learning experiences. 
        <br />
        <br />
        Our mission is to empower young people to express themselves creatively, think critically, and 
        develop the skills they need to succeed in today's digital world. Through our programs, we strive 
        to foster a love of learning, build self-confidence, and provide opportunities for personal 
        growth and achievement.
        </p>
        </div>
    
        <div id="Mission" class="tabcontent">
        <h3>The Mission</h3>
        <p>At PIMOSH, we envision a world where every child experiences opportunities to unlock their 
            full potential and unleash their creativity through the power of arts and technology 
            education. We believe that every child is capable of greatness and are committed to 
            empowering, inspiring, and igniting their passions, nurturing their talents, and 
            encouraging them to dream big. 
        <br />
        <br />
        Together, we will bridge the gap of opportunity, fostering a community where every child 
        is valued, supported, and challenged to achieve their wildest aspirations, where no dream 
        is too big, and no challenge is too great. We will create a brighter future for every 
        child and leave a lasting legacy of innovation, inspiration, and hope.
        </p> 
        </div>
    
        <div id="Diversity" class="tabcontent">
        <h3>Diversity Statement</h3>
        <p>Diversity and inclusion are core values of PIMOSH. Every person has unique experiences, 
            perspectives, and talents that contribute to the richness and strength of our 
            organization. We are committed to creating an inclusive environment where all 
            individuals feel respected, valued, and empowered. We actively seek out and welcome 
            overachieving individuals from diverse backgrounds and experiences and actively work 
            to remove barriers to participation and success.<br />
        <br />
        We recognize that diversity goes beyond race and ethnicity. It also encompasses 
        differences in gender, age, sexual orientation, socioeconomic status, religion, abilities, 
        and more. We work hard to create a positive, welcoming, and inclusive environment for all 
        members and participants of our organization. We will strive to develop a culture of equity 
        where everyone has an equal opportunity to succeed and feels a sense of belonging.
        <br />
        <br />
        We also acknowledge that inclusion and diversity are ongoing efforts. We will continuously 
        work to identify and address any implicit bias, discrimination, and barriers that prevent 
        individuals from fully participating in our programs and initiatives. We are committed to 
        taking action and being held accountable for creating a genuinely inclusive environment.
        <br />
        <br />
        We believe that embracing diversity and inclusion is not only the right thing to do but 
        also essential to the success of our organization and the communities we serve.
        </p>
        </div>
    
        <div id="Leadership" class="tabcontent">
        <h3>Leadership and Staff Development</h3>
        <p>At PIMOSH, strong leadership and staff development are crucial to unlocking the full 
            potential of our programs and the individuals who make them a reality. We are committed 
            to investing in the growth and development of our program leaders and staff members, 
            providing them with the tools and resources they need to excel in their roles.
        <br />
        <br />
        We understand that leadership is about having a solid vision and the ability to inspire 
        and empower others to achieve their best. Our leaders are passionate and dedicated individuals 
        committed to creating a culture of excellence where everyone is encouraged to take risks and 
        be innovative.
        <br />
        <br />
        Staff development is necessary for individuals and the organization to succeed. We empower 
        our staff to take ownership of their professional development, providing them with training, 
        mentorship, and networking opportunities. We strive to create a culture of continuous 
        learning where everyone has the opportunity to grow and develop.
        <br />
        <br />
        We know that when our leaders and staff are empowered, motivated and inspired, it positively 
        impacts the communities we serve. Investing in our people enhances our programs' success 
        and creates a brighter future for all.</p>
        </div>
    
        <div id="Community" class="tabcontent">
        <h3>Community Impact</h3>
        <p>At PIMOSH, our programs and initiatives have the power to make a positive impact on the 
        communities we serve. We are committed to working closely with local organizations, 
        schools, and families to understand our community's unique needs and challenges and 
        to create programs that address them.
        <br />
        <br />
        We strive to create a culture of community engagement, where we actively involve community 
        members in the design, implementation, and evaluation of our programs. Working together 
        with the community can create meaningful and sustainable change that benefits everyone.
        <br />
        <br />
        We understand that our programs go beyond providing access to arts and technology education; 
        they also promote social and emotional well-being, foster creativity, and build self-confidence. 
        Our programs strive to create opportunities for personal growth, achievement, and success 
        for all community members, especially those under-served or marginalized.
        <br />
        <br />
        We are proud of our program's impact on the community and are committed to working with 
        community members to create a brighter future for all.
        <br />
        <br />
        At PIMOSH, our programs and initiatives have the power to make a positive impact on the 
        various communities we serve. We understand that every community is unique, with different 
        needs and challenges. We are committed to working closely with local organizations, schools, 
        and families to understand these needs and design programs that address them. We strive to 
        create a culture of community engagement, where we actively involve community members in the 
        design, implementation, and evaluation of our programs.
        <br />
        <br />
        We are committed to serving diverse communities and understand that diversity goes beyond 
        race and ethnicity. It also encompasses differences in gender, age, sexual orientation, 
        socioeconomic status, religion, abilities, and more. We strive to create opportunities that 
        are inclusive and accessible to all members of the community, especially for those who are 
        underserved or marginalized.
        <br />
        <br />
        We are proud of our program's impact on the community and are committed to growing our efforts 
        to reach and serve more communities. We understand that our programs go beyond providing 
        access to arts and technology education; they also promote social and emotional well-being, 
        foster creativity, and build self-confidence. PIMOSH dedicates its resources to creating a 
        brighter future for all community members through our programs and initiatives.</p>
        </div>
    
        <script>
        function openPage(pageName,elmnt,color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
        }
    
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>
        
        </body>
    </div>
<div>
    <section class="text-center my-4 container">
        <h2>What do folks say about PIMOSH?</h2>
        <p>When it comes to PIMOSH, there is an undeniable power in hearing what others have to say. 
            Testimonials provide a glimpse into the real impact and transformative experiences that 
            individuals have had. From parents and students to mentors and community partners, the 
            testimonials about PIMOSH paint a vivid picture of our profound influence and unwavering 
            support. They are like windows into the hearts and minds of those touched by our 
            programs and services. They offer a beautiful tapestry of stories, showcasing the positive 
            change, growth, and empowerment that have taken place in the lives of our youth. These 
            heartfelt words not only inspire us but also serve as a reminder of the incredible 
            journey we are on together. Step into the world of testimonials and discover the true 
            essence of what people say about PIMOSH.</p>
        <figure>
            <img src="https://files.oaiusercontent.com/file-1oHLtn5rcHBZUD4POj4XAE8x?se=2024-06-24T15%3A40%3A34Z&sp=r&sv=2023-11-03&sr=b&rscc=max-age%3D31536000%2C%20immutable&rscd=attachment%3B%20filename%3D9565fb76-af6b-49fc-8a47-067f2e495d26.webp&sig=qvP93y06X8uU7p9flwWP/6cqaqfcVSLKZTN2e1G8nHI%3D" alt="Testimonials Image">
            <figcaption><a href="https://unsplash.com" target="_blank">Photo by Unsplash</a></figcaption>
        </figure>
    </section>
</div>


<div class="d-flex align-items-start container">
    <body>
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-about-tab" data-bs-toggle="pill" data-bs-target="#v-pills-about" type="button" role="tab" aria-controls="v-pills-about" aria-selected="true">About Us</button>
      <button class="nav-link" id="v-pills-mission-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mission" type="button" role="tab" aria-controls="v-pills-mission" aria-selected="false"> Our Mission</button>
      <button class="nav-link" id="v-pills-diversity-tab" data-bs-toggle="pill" data-bs-target="#v-pills-diversity" type="button" role="tab" aria-controls="v-pills-diversity" aria-selected="false" >Diversity Statement</button>
      <button class="nav-link" id="v-pills-leadership-tab" data-bs-toggle="pill" data-bs-target="#v-pills-leadership" type="button" role="tab" aria-controls="v-pills-leadership" aria-selected="false">Leadership & Staff Development</button>
      <button class="nav-link" id="v-pills-community-tab" data-bs-toggle="pill" data-bs-target="#v-pills-community" type="button" role="tab" aria-controls="v-pills-community" aria-selected="false">Community Impact</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      
    <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab" tabindex="0">
        <h3>About Us</h3>
        <p>PIMOSH is a community organization that provides children and families access to high-quality 
        arts education and technology programs. For 20 years, we have been committed to motivating 
        and inspiring students to reach their full potential through innovative and engaging 
        learning experiences. 
        <br />
        <br />
        Our mission is to empower young people to express themselves creatively, think critically, and 
        develop the skills they need to succeed in today's digital world. Through our programs, we strive 
        to foster a love of learning, build self-confidence, and provide opportunities for personal 
        growth and achievement.
        </p>
    </div>
      
    <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab" tabindex="0">
        <h3>The Mission</h3>
        <p>At PIMOSH, we envision a world where every child experiences opportunities to unlock their 
        full potential and unleash their creativity through the power of arts and technology 
        education. We believe that every child is capable of greatness and are committed to 
        empowering, inspiring, and igniting their passions, nurturing their talents, and 
        encouraging them to dream big. 
        <br />
        <br />
        Together, we will bridge the gap of opportunity, fostering a community where every child 
        is valued, supported, and challenged to achieve their wildest aspirations, where no dream 
        is too big, and no challenge is too great. We will create a brighter future for every 
        child and leave a lasting legacy of innovation, inspiration, and hope.
        </p>
      </div>
      
      <div class="tab-pane fade" id="v-pills-diversity" role="tabpanel" aria-labelledby="v-pills-diversity-tab" tabindex="0">
        <h3>Diversity Statement</h3>
        <p>Diversity and inclusion are core values of PIMOSH. Every person has unique experiences, 
        perspectives, and talents that contribute to the richness and strength of our 
        organization. We are committed to creating an inclusive environment where all 
        individuals feel respected, valued, and empowered. We actively seek out and welcome 
        overachieving individuals from diverse backgrounds and experiences and actively work 
        to remove barriers to participation and success.<br />
        <br />
        We recognize that diversity goes beyond race and ethnicity. It also encompasses 
        differences in gender, age, sexual orientation, socioeconomic status, religion, abilities, 
        and more. We work hard to create a positive, welcoming, and inclusive environment for all 
        members and participants of our organization. We will strive to develop a culture of equity 
        where everyone has an equal opportunity to succeed and feels a sense of belonging.
        <br />
        <br />
        We also acknowledge that inclusion and diversity are ongoing efforts. We will continuously 
        work to identify and address any implicit bias, discrimination, and barriers that prevent 
        individuals from fully participating in our programs and initiatives. We are committed to 
        taking action and being held accountable for creating a genuinely inclusive environment.
        <br />
        <br />
        We believe that embracing diversity and inclusion is not only the right thing to do but 
        also essential to the success of our organization and the communities we serve.
        </p>
      </div>
      
      <div class="tab-pane fade" id="v-pills-leadership" role="tabpanel" aria-labelledby="v-pills-leadership-tab" tabindex="0">
        <h3>Leadership and Staff Development</h3>
        <p>At PIMOSH, strong leadership and staff development are crucial to unlocking the full 
        potential of our programs and the individuals who make them a reality. We are committed 
        to investing in the growth and development of our program leaders and staff members, 
        providing them with the tools and resources they need to excel in their roles.
        <br />
        <br />
        We understand that leadership is about having a solid vision and the ability to inspire 
        and empower others to achieve their best. Our leaders are passionate and dedicated individuals 
        committed to creating a culture of excellence where everyone is encouraged to take risks and 
        be innovative.
        <br />
        <br />
        Staff development is necessary for individuals and the organization to succeed. We empower 
        our staff to take ownership of their professional development, providing them with training, 
        mentorship, and networking opportunities. We strive to create a culture of continuous 
        learning where everyone has the opportunity to grow and develop.
        <br />
        <br />
        We know that when our leaders and staff are empowered, motivated and inspired, it positively 
        impacts the communities we serve. Investing in our people enhances our programs' success 
        and creates a brighter future for all.
        </p>
      </div>
      
      <div class="tab-pane fade" id="v-pills-community" role="tabpanel" aria-labelledby="v-pills-community-tab" tabindex="0">
        <h3>Community Impact</h3>
        <p>At PIMOSH, our programs and initiatives have the power to make a positive impact on the 
        communities we serve. We are committed to working closely with local organizations, 
        schools, and families to understand our community's unique needs and challenges and 
        to create programs that address them.
        <br />
        <br />
        We strive to create a culture of community engagement, where we actively involve community 
        members in the design, implementation, and evaluation of our programs. Working together 
        with the community can create meaningful and sustainable change that benefits everyone.
        <br />
        <br />
        We understand that our programs go beyond providing access to arts and technology education; 
        they also promote social and emotional well-being, foster creativity, and build self-confidence. 
        Our programs strive to create opportunities for personal growth, achievement, and success 
        for all community members, especially those under-served or marginalized.
        <br />
        <br />
        We are proud of our program's impact on the community and are committed to working with 
        community members to create a brighter future for all.
        <br />
        <br />
        At PIMOSH, our programs and initiatives have the power to make a positive impact on the 
        various communities we serve. We understand that every community is unique, with different 
        needs and challenges. We are committed to working closely with local organizations, schools, 
        and families to understand these needs and design programs that address them. We strive to 
        create a culture of community engagement, where we actively involve community members in the 
        design, implementation, and evaluation of our programs.
        <br />
        <br />
        We are committed to serving diverse communities and understand that diversity goes beyond 
        race and ethnicity. It also encompasses differences in gender, age, sexual orientation, 
        socioeconomic status, religion, abilities, and more. We strive to create opportunities that 
        are inclusive and accessible to all members of the community, especially for those who are 
        underserved or marginalized.
        <br />
        <br />
        We are proud of our program's impact on the community and are committed to growing our efforts 
        to reach and serve more communities. We understand that our programs go beyond providing 
        access to arts and technology education; they also promote social and emotional well-being, 
        foster creativity, and build self-confidence. PIMOSH dedicates its resources to creating a 
        brighter future for all community members through our programs and initiatives.
        </p>
      </div>
    </div>
    <!-- Bootstrap JS bundle (including Popper.js) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const tabs = document.querySelectorAll('.nav-pills .nav-link');

          tabs.forEach(tab => {
            tab.addEventListener('click', function(event) {
            event.preventDefault();
            const targetTab = event.currentTarget.getAttribute('data-bs-target');
            const targetPane = document.querySelector(targetTab);

            if (!targetPane.classList.contains('active')) {
                // Remove 'active' class from all tabs and panes
                tabs.forEach(tab => tab.classList.remove('active'));
                document.querySelectorAll('.tab-pane').forEach(pane => pane.classList.remove('active'));

                // Add 'active' class to the clicked tab and corresponding pane
                tab.classList.add('active');
                targetPane.classList.add('active');
            }
            });
        });
        });
        </script>
    </body>
</div>







</body>
<!--
<%- include('./partials/footer.ejs') %>
-->