<%- include('./partials/header.ejs') %>


<style>
    .image-with-text {
        background-image: url('img/Banner.jpg');
        background-size: cover; /* Adjust as needed */
        width: 1349px;
        height: 320px; /* Set a height for the container */
        color: white; /* Text color */
        font-size: 60px;
        text-align: center;
        padding-top: 160px; /* Adjust to vertically center text */
    }
</style>

<div class="image-with-text">
    Interested in joining one of our events?
</div>


<section class="text-center my-4">
    <img src="img/TechTitans.jpg" width="650px" height="650px">
    <a href="/blog">
        <h1 style="font-size: 60px;"> Tech Titans </h1>
    </a>
    <text style="font-size: 25px;">Tech Titans! This is an event where your children will be able to learn more<br></text>
    <text style="font-size: 25px;">about the world of technology with people who know so much about technology</text>
</section>


<section class="text-center my-4">
    <img src="img/MintMuseum.jpg" width="650px" height="650px">
    <a href="/blog">
        <h1 style="font-size: 60px;"> Mint Museum </h1>
    </a>
    <text style="font-size: 25px;">Join us on July 26 as we venture into the Mint Museum, the first art museum in<br></text>
    <text style="font-size: 25px;">North Carolina. This museum includes art exhibitions from around the world, interactive works, and programs.</text>
</section>

<section class="text-center my-4">
    <img src="img/Awards.jpg" width="650px" height="650px">
    <a href="/blog">
        <h1 style="font-size: 60px;"> Tech Titans Awards </h1>
    </a>
    <text style="font-size: 25px;">On August 2, we will have an awards ceremony for our PIMOSH interns<br>
    <text style="font-size: 25px;"> as they finish their wonderful experience with us</text>
</section>

<section class="text-center my-4">
    <img src="img/Academics.jpg" width="650px" height="650px">
    <a href="/blog">
        <h1 style="font-size: 60px;"> 2024-25 Academic Programs </h1>
    </a>
    <text style="font-size: 25px;">Join us as we teach you about a world of topics, if you are having trouble or you are<br></text>
    <text style="font-size: 25px;">just wanting to learn a new topic, we will teach you the best way we can!</text>
</section>

<section class="text-center my-4">
    <img src="img/microsoft.webp" width="650px" height="650px">
    <a href="/blog">
        <h1 style="font-size: 60px;"> Spring Break @ Microsoft </h1>
    </a>
    <text style="font-size: 25px;">Need something to do over Spring Break? We got you covered!<br>
    <text style="font-size: 25px;"> Come along with us to Microsoft and learn so much about technology!</text>
</section>

<section class="text-center my-4">
    <img src="img/arts-advocacy.jpg" width="650px" height="650px">
    <a href="/blog">
        <h1 style="font-size: 60px;"> Arts Education Institute </h1>
    </a>

    <style> 
        .text-with-space { 
            padding-bottom: 15.3%; 
        } 
    </style>

    <text style="font-size: 25px;">During the summer you will be a part of the Arts program where you will be able to let your creative side run wild!<br></text>
    <text class="text-with-space" style="font-size: 25px;">You will be able to have a hands-on approach with creating beautiful works of art.<br></text>
    <br>
</section>

<text style= "font-size: 19px;"></text>


<%- include('./partials/footer.ejs') %>