<%- include('./partials/header.ejs') %>


<style>
    .image-with-text {
        background-image: url('img/Banner.jpg');
        background-size: cover; /* Adjust as needed */
        width: 1349px;
        height: 320px; /* Set a height for the container */
        color: white; /* Text color */
        font-size: 60px;
        text-align: center;
        padding-top: 160px; /* Adjust to vertically center text */
    }
</style>

<div class="image-with-text">
    Interested in joining one of our events?
</div>



<section class="text-left my-4">
    <a href="/blog">
        <svg width="200" height="100">
            <rect x="10" y="10" width="180" height="80" rx="10" ry="10" fill="darkviolet" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white">Tech Titans</text>
        </svg>
    </a>
    <style> 
        .text-with-space { 
            padding-left: 15.3%; 
        } 
    </style>
        
        
    <text>Tech Titans! This is an event where your children will be able to learn more<br></text>
    <text class="text-with-space">about the world of technology with people who know so much about technology</text>


<section class="text-left my-4">
    <a href="/blog">
        <svg width="200" height="100">
            <rect x="10" y="10" width="180" height="80" rx="10" ry="10" fill="darkviolet" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white">Mint Museum</text>
        </svg>         
    </a>
    <style> 
        .text-with-space { 
            padding-left: 15.3%; 
        } 
    </style>
        
        
    <text>Join us on July 26 as we venture into the Mint Museum, the first art museum in<br></text>
    <text class="text-with-space">North Carolina. This museum includes art exhibitions from around the world, interactive works, and programs.</text>


<section class="text-left my-4">
    <a href="/blog">
        <svg width="200" height="100">
            <rect x="10" y="10" width="180" height="80" rx="10" ry="10" fill="darkviolet" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white">Tech Titans Awards</text>
        </svg>          
    </a>
    <text>On August 2, we will have an awards ceremony for our PIMOSH interns as they finish their wonderful experience with us</text>

<section class="text-left my-4">
    <a href="/blog">
        <svg width="200" height="100">
            <rect x="10" y="10" width="180" height="80" rx="10" ry="10" fill="darkviolet" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="13" fill="white">2024-25 Academic Programs</text>
        </svg>          
    </a>
    <style> 
        .text-with-space { 
            padding-left: 15.3%; 
        } 
    </style>
        
        
    <text>Join us as we teach you about a world of topics, if you are having trouble or you are<br></text>
    <text class="text-with-space">just wanting to learn a new topic, we will teach you the best way we can!</text>


<section class="text-left my-4">
    <a href="/blog">
        <svg width="200" height="100">
            <rect x="10" y="10" width="180" height="80" rx="10" ry="10" fill="darkviolet" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="15" fill="white">Spring Break @ Microsoft</text>
        </svg>          
    </a>
    <text style= "font-size: 19px;">Need something to do over Spring Break? We got you covered! Come along with us to Microsoft and learn so much about technology!</text>


<section class="text-left my-4">
    <a href="/blog">
        <svg width="200" height="100">
            <rect x="10" y="10" width="180" height="80" rx="10" ry="10" fill="darkviolet" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="17" fill="white">Arts Education Institute</text>
        </svg>          
    </a>
    <style> 
        .text-with-space { 
            padding-left: 15.3%; 
        } 
    </style>
        
        
    <text>During the summer you will be a part of the Arts program where you will be able to let your creative side run wild!<br></text>
    <text class="text-with-space">You will be able to have a hands-on approach with creating beautiful works of art.<br></text>
    <br>


<%- include('./partials/footer.ejs') %>