
<%- include('./partials/header.ejs') %>

<!-- Full-width Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade mt-0" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-target="#carouselBasicExample" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-target="#carouselBasicExample" data-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-target="#carouselBasicExample" data-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-target="#carouselBasicExample" data-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100" alt="Sunset Over the City">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100" alt="Canyon at Night">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

     

        <!-- Single item -->
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100" alt="Cliff Above a Stormy Sea">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100" alt="Canyon at Night">
            <div class="carousel-caption d-none d-md-block">
                <h5>Fourth slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <!-- Inner -->
</div>
<!-- Carousel wrapper -->

<main class="container">
    <section class="row my-4 text-center">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="service-card">
                <div class="icon-container">
                    <i class="icon-book"></i>
                </div>
                <h3 class="head-serv">Arts</h3>
                <p>A comprehensive education approach designed to empower students to reach their full potential. Our programs include year-round in-person and virtual tutoring and academic mentoring, both in-person and virtual.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="service-card">
                <div class="icon-container">
                    <i class="icon-pencil"></i>
                </div>
                <h3 class="head-serv">Education</h3>
                <p>For Creative Writing Youth Starting this Fall. A Junior Journalist Project for exceptionally gifted young writers.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="service-card">
                <div class="icon-container">
                    <i class="icon-paintbrush"></i>
                </div>
                <h3 class="head-serv">Technology</h3>
                <p>Our Institute is dedicated to providing advanced training and mentoring for exceptionally gifted young artists. Our program is designed to challenge and inspire the most talented students, helping them to reach their full potential as artists.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </section>
    
    

    <section class="text-center my-4">
        <h2>Enrolling NOW: Arts Education Institute | After-School Tutorial</h2>
        <h3 class="head-serv">We are Hiring - Click HERE to Submit Your Interest Form</h3>
        <a href="#" class="btn btn-primary">Submit Interest Form</a>
    </section>

    <section class="text-center my-4">
        <h2>Our Partners</h2>
        <!-- <p>Partnerships are at the heart of PIMOSH because we deeply understand the power of coming together. We believe in the strength of collaboration and working in unity hand in hand with community organizations, schools, dedicated interns, team members, and volunteers. Together, we can create a profound impact on the lives of our youth. We unlock possibilities and access to resources, knowledge, and diverse perspectives by forming partnerships. It's about building a support network that embraces empathy, care, and understanding. These partnerships ignite a sense of belonging, foster a nurturing environment, and empower our youth to dream big and soar high. Together, we can inspire, uplift, and make a lasting difference in the lives of the young individuals we serve. Join us on this incredible journey of transforming lives and creating a brighter future.</p> -->
        <div class="d-flex justify-content-center align-items-center flex-wrap mt-5">
            <div class="partner mx-4 text-center">
                <img src="https://via.placeholder.com/150" alt="UNC Charlotte" class="img-fluid mb-3">
                <h5>UNC Charlotte</h5>
            </div>
            <div class="partner mx-4 text-center">
                <img src="https://via.placeholder.com/150" alt="CMS-Charlotte Mecklenburg Schools" class="img-fluid mb-3">
                <h5>CMS-Charlotte Mecklenburg Schools</h5>
            </div>
            <div class="partner mx-4 text-center">
                <img src="https://via.placeholder.com/150" alt="Urban Academics" class="img-fluid mb-3">
                <h5>Urban Academics</h5>
            </div>
        </div>
    </section>

    <section class="text-center my-4">
        <h2>Enrolling NOW: Arts Education Institute | After-School Tutorial</h2>
        <h3 class="head-serv">We are Hiring - Click HERE to Submit Your Interest Form</h3>
        <a href="#" class="btn btn-primary">Submit Interest Form</a>
    </section>

</main>

<%- include('./partials/footer.ejs') %>

