<%- include('./partials/header.ejs') %>
<section class="text-center my-4">
    <h2>THIS IS THE INTEREST FORM</h2>
    <p>SOON TO BE THE INTEREST FORM FIRST NAME, LAST NAME, PASSWORD, EMAIL, USERNAME, REGISTER AND LOGIN</p>
</section>

<%- include('./partials/footer.ejs') %>